
@{
    ViewBag.Title = "FinDeJuego";
}

<div class="jumbotron text-center">
    <h1>Fin del juego</h1>
</div>

<form name="input" action="@Url.Action("FinDelJuego", "BackOffice")" method="post">
    @switch (ViewBag.Tipo)
        {
            case "SinglePlayer":
                break;
            case "MultiPlayer":
                break;
            default:
                break;
        }
</form>
