
@{
    ViewBag.Title = "Juego";
}

<style>
    #container {
        width: 620px;
    }
    
    img {
        width: 100px;
        height: 100px;
    }

    .personaje {
        display: block;
        width: 100px;
        float: left;
        margin: 10px;
    }

</style>

<h2>Juego</h2>
<div id="container">
    <!--foreach (Personaje p in BD.listaPersonajes)
    {

    }-->
    <div class="personaje">
        <img src="~/Content/Fotos/binkah.jpg" />
        Binkah
    </div>

    <div class="personaje">
        <img src="~/Content/Fotos/binkah.jpg" />
        Binkah
    </div>
    <div class="personaje">
        <img src="~/Content/Fotos/binkah.jpg" />
        Binkah
    </div>
    <div class="personaje">
        <img src="~/Content/Fotos/binkah.jpg" />
        Binkah
    </div>
    <div class="personaje">
        <img src="~/Content/Fotos/binkah.jpg" />
        Binkah
    </div>
    <div class="personaje">
        <img src="~/Content/Fotos/binkah.jpg" />
        Binkah
    </div>
    <div class="personaje">
        <img src="~/Content/Fotos/binkah.jpg" />
        Binkah
    </div>
</div>

