@{
    ViewBag.Title = "MenuMultiplayer";
    Dictionary<int, string> dicCurrentGames = ViewBag.dicCurrentGames;
}


<style>

    body {
        background-color: lightsteelblue;
    }

    #campoUnirse {
        text-align: center;
    }

    #campoNombre {
        font-size: 18px;
    }

    #colNombre {
        width: 55%;
        text-align: center;
    }

    #colUnirse {
        /*width:38%;*/
        text-align: center;
    }

    #tabla {
        width: 400px;
        margin-left: 32%;
    }

    p {
        margin-top: -1%;
    }

    hr {
        margin-top: 47px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }

    th {
        background-color: violet;
        font-size: 18px;
    }

    td {
        background-color: gainsboro;
        font-size: 16px;
    }

    h1 {
        font-family: Arial, sans-serif;
        font-weight: 900;
        -webkit-text-stroke: 2px #003326;
        text-shadow: 3px 5px rosybrown;
    }

    h4 {
        font-family: Arial, sans-serif;
        font-size: 18px;
        margin-left: 41%;
    }

    a.btn.btn-primary {
        margin-left: 52%;
        margin-top: -5.5%;
    }
</style>

<script>
    var i = 0;
    var txt = '';
    document.addEventListener('keypress', function() {
        var keyName = event.key;
        txt += keyName;
        i++;
        console.log(txt);
        if (keyName == 'r' || keyName == 'R') {
            location.reload();
        }
        if (i == 5) {
            if (txt == 'HAKAI') {
                LimpiarBasura();
                location.reload();
            } else {
                txt = '';
                i = 0;
            }
        }
    });

    function LimpiarBasura(victoria) {
        jQuery.ajax({
            type: "GET",
            url: "@Url.Action("LimpiarBasura", "Juego")",
        });
    }
</script>

<div class="jumbotron text-center" style="background-color:indigo">
    <h1 style="color:white;font-size:400%">Clickea contra quien quieras jugar</h1>
</div>

<table id="tabla" class="table table-bordered">
    <tr>
        <th id="colNombre"><b>Nombre del usuario</b></th>
        <th id="colUnirse"></th>
    </tr>
    @foreach (int IDPartida in dicCurrentGames.Keys)
    {
        <tr>
            <td id="campoNombre">@dicCurrentGames[IDPartida]</td>
            <td id="campoUnirse">@Html.ActionLink("Unirse a la partida", "ConectarseAPartida", "Juego", new { IDPartida = IDPartida }, new { @class = "btn btn-info" })</td>
            <!--Manda el ID de la partida a la que se quiere unir-->
        </tr>
    }
</table>

<h4>Crear Partida:</h4> <a1>@Html.ActionLink("+", "CrearPartida", "Juego", new { UsuarioCreador = Session["nombre"] }, new { @class = "btn btn-primary" })</a1>