
@{
    ViewBag.Title = "Perdiste";
}

<style>
    .boton {
        margin-bottom: 10px;
    }
</style>

<h2>Perdiste :(</h2>
@Html.ActionLink("Siguiente", "Estadisticas", "Juego", new { @class = "btn btn-primary boton" })  <br />