@{  
    ViewBag.Title = "SalaEsperaSeleccionPersonajes";
}

<script>
    var inter = setInterval(VerificarJugador2, 3000);
    function VerificarJugador2() {
        jQuery.ajax({
            type: "GET",
            url: "@Url.Action("SalaEsperaSeleccionPersonajes", "Juego")",
            contentType: "charset=utf-8",
        });
        $("#test").load(window.location.href + " #test");//Cambiar por cookie en una version futura (si la hay)
        if ($("#test").text() == "1") {
            clearInterval(inter);//Aparentemente sino se ejecuta infinitamente y no logra salir
            var href = '@Url.Action("MultiplayerJuego", "Juego")';
            window.location.href = href;
        }
    }
</script>


<style>
    .loader {
        margin: auto auto;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<h2>SalaEspera</h2>
<h3>Ahora, espere hasta que otro jugador elija un personaje :333</h3>
<div class="loader"></div>
<p id="test" style="visibility:hidden">@ViewBag.otroJugadorListo</p>
