
@{
    ViewBag.Title = "AgregarCategoriaPersonaje";
}

<div class="jumbotron text-center">
    <h1>Agregar una categoria de personaje</h1>
</div>

<form action="@Url.Action("AgregarCategoriaPersonaje", "Backoffice")" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Ingrese una categoria de personaje: </label>
        <input required type="text" name="nombre" id="nombre" placeholder="Profesor" class="form-control" />
    </div>
    <input type="submit" name="Submit" value="Enviar" class="btn btn-info" style="margin-left: 405px" />
    <br /> <b>@ViewBag.Mensaje</b>
</form>