
@{
    ViewBag.Title = "Cambiar contraseñ";
}

<h2>Cambiar contraseña</h2>
<form name="input" action="@Url.Action("CambiarContrasenia", "BackOffice")" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre de usuario:</label>
        <input required type="text" placeholder="ElReyDelLabo" name="nombre" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="dni">DNI:</label>
        <input required type="text" placeholder="48562103" name="dni" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="password">Nueva contraseña:</label>
        <input required type="password" placeholder="********" name="password" id="password" class="form-control" />
    </div>
    <br />
    <input type="submit" name="Submit" value="Enviar" class="btn btn-info" style="margin-left: 392px" />
    <br/>
    <b>@ViewBag.Mensaje</b>
</form>