@{
    ViewBag.Title = "ListarCategoriasPersonajes";
}

<div class="jumbotron text-center" style="background-color:steelblue">
    <h1 style="color:white;font-size:400%">Listado de categorias de personajes</h1>
</div>

<!--@Html.ActionLink("Agregar categoria de personajes", "AgregarCategoriaPersonajes", "BackOffice", new { @class = "btn btn-info" }) Forma con ActionLink-->
<a id="AgregarCat" class="btn btn-info" href="/BackOffice/AgregarCategoriaPersonajes">Agregar categoria de personajes</a> <!--Misma forma pero con <a>, asi le puedo poner un id y despues un style-->
<h3>@Session["Mensaje"]</h3>
<style>
    table, th, td {
        border: 1px solid black;
    }

    p {
        margin-top: -1%;
    }

    hr {
        margin-top: 170px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }

    th {
        background-color: cadetblue;
        font-size: 18px;
    }

    td {
        background-color: hotpink;
        font-size: 16px;
    }

    h1 {
        font-family: Arial, sans-serif;
        font-weight: 900;
        -webkit-text-stroke: 2px black;
        text-shadow: 3px 5px red;
    }

    body {
        padding-top: 2px;
        background-color: darkorange;
    }


    #tabla {
        width: 300px;
        margin: 0 auto;
    }

    #AgregarCat {
        margin: auto;
        display: block;
        width: 300px;
    }
</style>

<table id="tabla" class="table table-bordered">
    <tr>
        <th>Categoria</th>
        <th></th>
    </tr>
    @foreach (int idCatPers in BD.dicCategorias.Keys)
    {
        string CatPers = BD.dicCategorias[idCatPers];
        <tr>
            <td>@CatPers</td>
            <td>@Html.ActionLink("Borrar categoria", "BorrarCategoriaPersonajes", "BackOffice", new { nombre = CatPers }, new { @class = "btn btn-info" })</td>
        </tr>
    }
</table>