@{
    ViewBag.Title = "ListarCategoriasPreguntas";
}

<style>
    table, th, td {
        border: 1px solid black;
    }

    h1 {
        font-family: Arial, sans-serif;
        font-weight: 900;
        -webkit-text-stroke: 2px #003326;
        text-shadow: 3px 5px rosybrown;
    }

    #AgregarCat {
        margin: auto;
        display: block;
        width: 300px;
        margin-bottom: 15px;
    }

    #tabla {
        width: 300px;
        margin: 0 auto;
    }

    body {
        padding-top: 2px;
        background-color: lightsteelblue;
    }

    p {
        margin-top: -1%;
    }

    hr {
        margin-top: 47px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }

    th {
        background-color: violet;
        font-size: 18px;
    }

    td {
        background-color: gainsboro;
        font-size: 16px;
    }
</style>

<div class="jumbotron text-center" style="background-color:indigo">
    <h1 style="color:white;font-size:400%">Listar categorias de preguntas</h1>
</div>

<a id="AgregarCat" class="btn btn-info" href="@Url.Action("AgregarCategoriaPregunta", "BackOffice")">Agregar categoria de preguntas</a> <!--Misma forma pero con <a>, asi le puedo poner un id y despues un style-->

<table id="tabla" class="table table-bordered">
    <tr>
        <th>Categoria</th>
        <th></th>
    </tr>
    @foreach (int idCatPreg in BD.dicCategoriasPreguntas.Keys)
    {
        string CatPreg = BD.dicCategoriasPreguntas[idCatPreg];
        <tr>
            <td>@CatPreg</td>
            <td>@Html.ActionLink("Borrar categoria", "BorrarCategoriaPreguntas", "BackOffice", new { sCatPregunta = CatPreg }, new { @class = "btn btn-info" })</td>
        </tr>
    }
</table>