
@{
    ViewBag.Title = "Registro";
}

<script>
    function togglear() {
        $("#PIN").slideToggle();
    }
</script>

<style>
    #PIN {
        display: none;
    }

    body {
        padding-top: 5px;
        background-color: lightsteelblue;
    }

    .spacer {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .block { /* este es el largo de la pagina*/
        height: 320px;
        padding-top: 15px;
        background-color: lightsteelblue;
    }

    .block2 {
        min-height: 160px;
        padding-top: 35px;
    }

    .center {
        position: absolute;
        /*  top: 0;
    bottom: 0; */
        left: 0;
        right: 0;
        margin: auto;
    }

    h1 {
        font-family: Arial, sans-serif;
        font-weight: 900;
        -webkit-text-stroke: 2px #003326;
        text-shadow: 3px 5px rosybrown;
    }
</style>

<div class="jumbotron text-center" style="background-color:indigo">
    <h1 style="color:white;font-size:650%">Registro</h1>
</div>

<form action="@Url.Action("Registro", "Backoffice")" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre: </label>
        <input required type="text" name="nombre" id="nombre" placeholder="Cccebo" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="contrasenia">Contraseña: </label>
        <input required type="password" name="contrasenia" id="contrasenia" placeholder="*********" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="dni">DNI: </label>
        <input type="text" name="dni" placeholder="48613259" class="form-control" />
    </div>
    <div class="form-group">
        <input type="checkbox" value="true" name="admin" onclick="togglear()" />
        <label class="control-label col-sm-2"> Administrador </label> <br />
        <input type="text" name="pin" placeholder="PIN de administradores" class="form-control" id="PIN" />
        <!--Modificar para que el textbox aparezca solo cuando selecciono el checkbox de admin-->
    </div>
    <input type="submit" name="Submit" value="Enviar" class="btn btn-info" style="margin-left: 405px" />
    <br /> <b>@ViewBag.Mensaje</b>
</form>
